@use 'variables' as *;

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  
  @media (min-width: 768px) {
    padding: 40px 0;
  }
}

.cv-container {
  width: 100%;
    background-color: $white;
  box-shadow: $shadow;
  box-sizing: border-box;
  word-wrap: break-word; 
  padding: 20px;

  @media (min-width: 768px) {
    width: $a4-width;
    min-height: $a4-height;
    padding: 10mm;
  }
}