@use '@/styles/variables' as *;

.cv-header {
  text-align: center;
  margin-bottom: 25px;

&__name {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin: 0 0 10px 0;
    letter-spacing: 0.3px;
  }

  &__contacts {
    font-size: 11px;
    color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
    gap: 5px; 
    
    & > span, & > a {
      white-space: nowrap;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }

  &__separator {
    color: #ccc;
    padding: 0 2px;
  }
}